
FinalProj/FinalProj/App_Data/myForum.mdf
FinalProj/.vs/FinalProj/v15/Server/sqlite3/storage.ide-wal
FinalProj/.vs
FinalProj/FinalProj/bin
FinalProj/FinalProj/obj
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
