<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="passwordPolicyXMLLocation" value="~/MyXML/PasswordPolicy.xml" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myDB.mdf;Integrated Security=True" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
    <sessionState mode="InProc" cookieless="false" timeout="10" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <customErrors mode="On" defaultRedirect="~\error\errorPage.aspx">
      <error statusCode="500" redirect="~\error\errorPage.aspx" />
      <error statusCode="404" redirect="~\error\errorPage.aspx" />
    </customErrors>
  </system.web>

  <system.webServer>
	  <security>
		  <requestFiltering removeServerHeader="true" />
	  </security>
	  <httpProtocol>
		  <customHeaders>
			  <remove name="Server" />
			  <remove name="X-Powered-By" />
			  <remove name="Set-Cookie" />
			  <add name="X-Frame-Options" value="SAMEORIGIN" />
			  <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
			  <!-- Protects against XSS injections. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
			  <add name="X-XSS-Protection" value="1; mode=block" />
			  <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
			  <add name="Referrer-Policy" value="strict-origin" />
		  </customHeaders>
	  </httpProtocol>
		<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
			<remove statusCode="500" subStatusCode="100" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/error/errorPage.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/error/errorPage.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" subStatusCode="100" path="/error/errorPage.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>